<li class="work-item">
	<a href="{{ image.fields.file.url }}" class="popup" title="{{ image.fields.title }}">
		<div class="work-image">
			<img src="{{ image.fields.file.url }}" alt="{{image.fields.description}}">
		</div>
		<div class="work-caption">
			<h3 class="work-title font-alt">{{ title }}</h3>
			<div class="work-descr font-inc">
				click to view
			</div>
		</div>
	</a>
</li>

