<div class="post">

	<div class="post-header post-header-small">

		<div class="post-icon">
			<span class="icon-documents"></span>
		</div>

		<h2 class="post-title font-alt">
			{{#if item.fields.link}}
				<a href="{{item.fields.title}}">{{item.fields.title}}</a>
			{{else}}
				{{item.fields.title}}
			{{/if}}
		</h2>

		<div class="post-meta font-inc">
			By <a href="#">{{item.fields.publisher}}</a> | {{item.fields.type}} | {{item.fields.publishDate}}
		</div>
	</div>

</div>
